<!DOCTYPE html>
<html>
<head>
  <title>FbFriendChooser</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_info">
  <% if current_user %>
    Welcome, <%= current_user.username %>! <%= link_to "Logout", "/logout" %>.
  <% else %>
    Welcome, guest. Please <%= link_to "login with Facebook", "/auth/facebook" %> to get started.
  <% end %>
</div>

<%= yield %>

</body>
</html>
